<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Balance General</h1>
  <div>
    <%= link_to "Editar", edit_balance_sheet_path(@balance_sheet), class: "btn btn-secondary" %>
    <%= link_to "Eliminar", @balance_sheet, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %>
    <%= link_to "Reporte", report_balance_sheet_path(@balance_sheet), class: "btn btn-info" %>
  </div>
</div>

<%= cell(BalanceSheetCell, @balance_sheet).call(:show) %>

