<div class="row">
  <div class="col-12">
    <h1>Reportes</h1>
    <p class="text-muted">Genera reportes de tus finanzas</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte de Balance General</h5>
        <p class="card-text">Genera reportes detallados de tus balances generales con filtros por cuenta y fechas.</p>
        <%= link_to "Ver Reporte", balance_sheet_reports_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

